<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body style="background-color: #89e4f9">
<nav>
<div class="container">
    <h1>About us</h1>
    <h2>Our goals:</h2>
    <p>
        We are developing a social learning platform as a students project at the University of Hohenheim.
        Our aim is to make learning easier and more interesting for university students.
    </p>

    <h3>Who are we:</h3>
    <ul>
        <li>Desislava Ivanova</li>
        <li>Julien Vollweiter</li>
        <li>Sabrina Semmelmann</li>
        <li>Erhan ?</li>
    </ul>
</div>
</nav>

</body>
</html>