<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="getQuestionModal">
    <form>
        <div class="reveal" id="getQuestionModal" data-reveal="true">
            <div class="row">
                <div class="small-12 columns">


                    <div th:if="${error}==true">
                        <h5>There aren't any questions you haven't answered yet!</h5></div>
                    <div th:if="${error}==false">
                        <div>
                            <h4>Question:</h4>
                            <div th:text="${getQuestion.text}">Question</div>
                        </div>
                        <button>
                            <div style="padding-top: 20px">
                                <button class="button" onclick="myFunction()">See answer</button>
                            </div>
                        </button>
                        <div>
                            <h4>Answer:</h4>
                            <div id="answer"></div>
                        </div>

                    </div>
                    <button class="close-button" aria-label="Close modal" data-close="getQuestionModal"
                            type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
            </div>


        </div>
    </form>
    <script>
        function myFunction() {
            var boolean = [[${error}]];
            if (boolean == false) {
                var answer = [[${getQuestion.answer}]];
                document.getElementById("answer").innerHTML = answer;
            }

        }

    </script>

</th:block>


</body>
</html>