<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">

    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Set tab title and favicon -->
    <link rel="icon" href="images/group.png"/>
    <title>DESJ project</title>

    <!-- Foundation CSS -->
    <link rel="stylesheet" href="css/foundation.css"/>

    <!-- Set desj.css style information-->
    <link rel="stylesheet" href="css/desj.css"/>

    <!-- Foundation js -->
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>

    <script src="https://use.fontawesome.com/252416ffbb.js"></script>

</th:block>
</html>