<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="mcQuestionModal">

    <div class="reveal" id="writeNewMCQuestionModal" data-reveal="true">
        <div class="row">
            <div class="small-12 columns">
                <form data-abide="" novalidate="novalidate" th:object="${mcQuestion}" th:action="@{/newMCQuestion(learningGroupId=${learningGroup.id})}"
                      method="post">
                    <h4>Please write a new question, provide 4 answers and select the correct ones!</h4>
                    <br/>
                    <div style="padding-bottom: 20px">
                        <textarea required="required" th:field="*{question}" placeholder="Question">Question</textarea>

                        <div class="small-1 columns">
                            <input type="checkbox" th:field="*{correctAnswers}" th:value="A"/>
                        </div>
                        <div class="small-11 columns">
                            <textarea required="required" th:field="*{answerA}" placeholder="Answer 1"></textarea>
                        </div>

                        <div class="small-1 columns">
                            <input type="checkbox" th:field="*{correctAnswers}" th:value="B"/>
                        </div>
                        <div class="small-11 columns">
                            <textarea required="required" id="textarea1" th:field="*{answerB}" placeholder="Answer 2"></textarea>
                        </div>

                        <div class="small-1 columns">
                            <input type="checkbox" th:field="*{correctAnswers}" th:value="C"/>
                        </div>
                        <div class="small-11 columns">
                            <textarea required="required" th:field="*{answerC}" placeholder="Answer 3"></textarea>
                        </div>

                        <div class="small-1 columns">
                            <input type="checkbox" th:field="*{correctAnswers}" th:value="D"/>
                        </div>
                        <div class="small-11 columns">
                            <textarea required="required" th:field="*{answerD}" placeholder="Answer 4"></textarea>
                        </div>

                        <div style="padding-top: 20px">
                            <button type="submit" class="button">Save Mc-question</button>
                        </div>
                        <button class="close-button" data-close="writeNewMCQuestionModal" aria-label="Close modal"
                                type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</th:block>

</body>
</html>