<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<!-- The standard navigation bar for users that are not logged in -->
<th:block th:fragment="notLoggedIn">

    <div id="loginNavBar" class="top-bar">

        <div class="top-bar-title">
            <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
                <b style="color: white"> <span class="fa fa-users"></span> WElearn</b>
            </span>
        </div>
        <div id="responsive-menu">

            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu="true">
                    <li class="show-for-medium" style="color: white"><b><span class="fa fa-users"></span> WElearn</b>
                    </li>
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="/aboutNotLog">About us</a></li>
                </ul>
            </div>


            <div class="top-bar-right">
                <form data-abide="" novalidate="novalidate" th:action="@{/login}" th:method="post">
                    <ul class="menu">
                        <li><input required="required" style="border-radius: 2px" type="text" placeholder="Email"
                                   name="username"/></li>
                        <li><input required="required" style="border-radius: 2px" type="password" placeholder="Password"
                                   name="password"/>
                        </li>
                        <li>
                            <button type="submit" class="button"><i class="fa fa-sign-in"></i> Sign in</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

</th:block>

<!-- Navigation bar for logged in user -->
<th:block th:fragment="loggedIn">

    <div id="loginNavBar" class="top-bar">

        <div class="top-bar-title">
            <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
                <b style="color: white"> <span class="fa fa-users"></span> WElearn</b>
            </span>
        </div>
        <div id="responsive-menu">

            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu="true">
                    <li class="show-for-medium" style="color: white"><b><span class="fa fa-users"></span> WElearn</b>
                    </li>
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="/aboutLog">About us</a></li>
                    <li><a href="/findGroup">Find groups</a></li>
                    <li><a th:href="@{/createGroup}">Create groups</a></li>
                </ul>
            </div>


            <div class="top-bar-right">
                <ul class="menu">
                    <li>
                        <a th:href="@{/showUserSite}" class="button">
                            <span style="padding-bottom: 3px; padding-top: 3px;"
                                  class="fa fa-user"></span>
                        </a>
                    </li>
                    <li>
                        <form th:action="@{/logout}" th:method="post">
                            <button type="submit" class="alert button fa fa-sign-out"></button>
                        </form>
                    </li>
                </ul>

            </div>
        </div>
    </div>

</th:block>

</body>
</html>
