<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<!-- The standard navigation bar for users that are not logged in -->
<th:block th:fragment="notLoggedIn">

    <div id="loginNavBar" class="top-bar">

        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu="true">
                <li class="menu-text"><span class="fa fa-users"></span> WElearn</li>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/aboutNotLog">About us</a></li>
            </ul>
        </div>

        <div class="top-bar-right">
            <ul class="menu">

                <form th:action="@{/login}" th:method="post">
                    <div class="row">
                        <div class="small-4 small-offset-1 columns">
                            <input style="border-radius: 2px" type="text" placeholder="Email" name="username"/>
                        </div>
                        <div class="small-4 columns">
                            <input style="border-radius: 2px" type="password" placeholder="Password" name="password"/>
                        </div>
                        <div class="small-3 columns">
                            <button type="submit" class="button"><i class="fa fa-sign-in"></i> Sign in</button>
                        </div>
                    </div>
                </form>

            </ul>
        </div>
    </div>

</th:block>

<!-- Navigation bar for logged in user -->
<th:block th:fragment="loggedIn">

    <div class="top-bar">

        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu="true">
                <li class="menu-text"><span class="fa fa-users"></span> WElearn</li>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/aboutLog">About us</a></li>
                <li><a href="/findGroup">Find groups</a></li>
                <li><a th:href="@{/createGroup}">Create groups</a></li>
            </ul>
        </div>

        <div class="top-bar-right">
            <div class="row">
                <div class="small-6 columns">
                    <a th:href="@{/showUserSite}" class="button fa fa-user"></a>
                </div>
                <div class="small-6 columns">
                    <form th:action="@{/logout}" th:method="post">
                        <button type="submit" class="alert button fa fa-sign-out"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</th:block>

</body>
</html>
