<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<!-- The standard navigation bar for users that are not logged in -->
<th:block th:fragment="notLoggedIn">

    <div class="top-bar">

        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu="true">
                <li class="menu-text">DESJ Project</li>
                <li><a class="active" href="Welcome">Home</a></li>
                <li><a href="About">About us</a></li>
                <li><a href="signUp">Sign up</a></li>
            </ul>
        </div>

        <div class="top-bar-right">
            <ul class="menu">

                <form th:action="@{/login}" th:method="post">
                    <div class="row">
                        <div class="small-5 columns">
                            <input type="text" placeholder="Email" name="username"/>
                        </div>
                        <div class="small-5 columns">
                            <input type="password" placeholder="Password" name="password"/>
                        </div>
                        <div class="small-2 columns">
                            <button type="submit" value="Login" class="button postfix">Go</button>
                        </div>
                    </div>
                </form>

            </ul>
        </div>
    </div>

</th:block>

<!-- Navigation bar for logged in user -->
<th:block th:fragment="loggedIn">

    <div class="top-bar">

        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu="true">
                <li class="menu-text">DESJ Project</li>
                <li><a class="active" href="Welcome">Home</a></li>
                <li><a href="About">About us</a></li>
            </ul>
        </div>

        <div class="top-bar-right">
            <ul class="menu">
                <div class="row">
                    <div class="small-6 columns">
                        <button class="button" th:text="${username}"></button>
                    </div>
                    <div class="small-6 columns" >
                        <form th:action="@{/logout}" th:method="post">
                            <button type="submit" class="button">Logout</button>
                        </form>
                    </div>
                </div>
            </ul>

        </div>
    </div>

</th:block>

<!-- Navigation bar for the about page -->
<th:block th:fragment="about">
    <div class="top-bar">

        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu="true">
                <li class="menu-text">DESJ Project</li>
                <li><a href="Welcome">Home</a></li>
                <li><a class="active" href="About">About us</a></li>
            </ul>
        </div>

    </div>
</th:block>

<!-- Navigation bar for the sign up page -->
<th:block th:fragment="signUp">
    <div class="top-bar">

        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu="true">
                <li class="menu-text">DESJ Project</li>
                <li><a href="Welcome">Home</a></li>
                <li><a href="About">About us</a></li>
                <li><a class="active" href="SignUp"></a></li>
            </ul>
        </div>

    </div>
</th:block>

</body>
</html>
