<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="writeNewQuestionModal">
    <div class="reveal" id="writeNewQuestionCommentModal" data-reveal="true">
        <div class="row">
            <div class="small-12 columns">
                <form data-abide="" novalidate="novalidate" th:object="${questionComment}" th:action="@{/newQuestionComment(questionId = ${question.id})}" method="post">
                    <p>Write new comment! </p>
                    <div style="padding-bottom: 20px">
                        <textarea required="required" th:field="*{comment}" placeholder="Write comment"/>
                    </div>
                    <div style="padding-top: 20px">
                        <button type="submit" class="button">Save comment</button>
                    </div>
                    <button class="close-button" data-close="writeNewQuestionCommentModal" aria-label="Close modal"
                            type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>