@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);

.blackFontColor {
    color: black;
}

.button {
    border-radius: 2px;
}

/* Styling for the comment button on the showLearningGroup page */
.buttonComment {
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.85em 1em;
    margin: 0 0 1rem 0;
    font-size: 0.9rem;
    background-color: #2199e8;
    color: #fefefe; }
[data-whatinput='mouse'] .buttonComment {
    outline: 0; }
.buttonComment:hover, .buttonComment:focus {
    background-color: #1583cc;
    color: #fefefe; }
.buttonComment.disabled, .buttonComment[disabled] {
    opacity: 0.25;
    cursor: not-allowed; }
.buttonComment.disabled:hover, .buttonComment.disabled:focus, .buttonComment[disabled]:hover, .buttonComment[disabled]:focus {
    background-color: #2199e8;
    color: #fefefe; }

/* Styling for the groupPost button on the showLearningGroup page */
.buttonPost {
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.85em 1em;
    margin: 0 0 1rem 0;
    font-size: 0.9rem;
    background-color: #2199e8;
    color: #fefefe; }
[data-whatinput='mouse'] .buttonPost {
    outline: 0; }
.buttonPost:hover, .buttonPost:focus {
    background-color: #1583cc;
    color: #fefefe; }
.buttonPost.disabled, .buttonPost[disabled] {
    opacity: 0.25;
    cursor: not-allowed; }
.buttonPost.disabled:hover, .buttonPost.disabled:focus, .buttonPost[disabled]:hover, .buttonPost[disabled]:focus {
    background-color: #2199e8;
    color: #fefefe; }


/* White font color for labels because of the grey background */
label {
    color: white
}

#wrapper {
    width: 40%;
    margin: 0 auto;
    background-color: rgba(30,30,30,0.4);
    border: solid thin;
    border-radius: 3px;
    border-color: rgba(255, 255, 255, 0.1);
}

#divBackground {
    margin: 0 auto;
    background-color: rgba(30,30,30,0.1);
    border: solid thin;
    border-radius: 3px;
    border-color: black;
}

/* Top bar styling */
.top-bar {
    background: #343838;
    height: 86px;
    padding-top: 18px;
}
.top-bar-left ul {
    background: #343838;
    color: white;
    line-height: 86px;
    padding-top: 7px;
}
.top-bar-right ul {
    background: #343838;
    padding-top: 7px
}

/* Group post styling */
.callout-card {
    background: white;
    border: 1px solid #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
    overflow: hidden; }
.callout-card .card-label {
    border-color: transparent #343838 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #343838 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)}
.callout-card.primary {
    border-color: #446cb3; }
.callout-card.primary .card-label {
    border-color: transparent #446cb3 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #446cb3 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)}
.callout-card.secondary {
    border-color: #adb2bd; }
.callout-card.secondary .card-label {
    border-color: transparent #adb2bd transparent transparent;
    border-color: rgba(255, 255, 255, 0) #adb2bd rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)}
.callout-card.info {
    border-color: #89c4f4; }
.callout-card.info .card-label {
    border-color: transparent #89c4f4 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #89c4f4 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card.alert {
    border-color: #f22613; }
.callout-card.alert .card-label {
    border-color: transparent #f22613 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #f22613 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card.success {
    border-color: #87d37c; }
.callout-card.success .card-label {
    border-color: transparent #87d37c transparent transparent;
    border-color: rgba(255, 255, 255, 0) #87d37c rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card.warning {
    border-color: #f89406; }
.callout-card.warning .card-label {
    border-color: transparent #f89406 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #f89406 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card .card-label {
    border-style: solid;
    border-width: 0 70px 40px 0;
    float: right;
    height: 0px;
    width: 0px;
    transform: rotate(360deg); }
.callout-card .callout-card-content {
    padding: 0.5rem 1.5rem 0.875rem; }
.callout-card.radius {
    border-radius: 0.6rem; }
.callout-card .label-text {
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    position: relative;
    right: -40px;
    top: 2px;
    white-space: nowrap;
    transform: rotate(30deg);
}

/* Styling of material cards */
html, body {
    background: #FAFAFA; }

.card {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #272727;
    border-radius: 2px; }
.card .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300; }
.card .content {
    padding: 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px; }
.card p {
    margin: 0; }
.card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem; }
.card a {
    color: #ffab40;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none; }
.card .image {
    position: relative; }
.card .image .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.3rem;
    color: #fff; }
.card .image img {
    border-radius: 2px 2px 0 0; }

.card .cardLink {
    color: #343838;
}

.card .groupLink {
    color: #2199e8;
}


