@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);

.rankingEntry:hover {
    background-color: gray;
}

.blackFontColor {
    color: black;
}

/* Styling of the login page */
#login {
    background: #343838;
    color: white;
}

/* White font color for labels because of the grey background */
label {
    color: white
}

/* Top bar styling */
.top-bar {
    background: #343838;
    height: 90px;
    line-height: 90px;
    padding-top: 15px;
}
.top-bar-left ul {
    background: #343838;
    color: white;
    line-height: 90px;
    padding-top: 15px;
}
.top-bar-right ul {
    background: #343838;
    padding-top: 15px
}

/* Group post styling */
.callout-card {
    background: white;
    border: 1px solid #333;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
    overflow: hidden; }
.callout-card .card-label {
    border-color: transparent #343838 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #343838 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card.primary {
    border-color: #446cb3; }
.callout-card.primary .card-label {
    border-color: transparent #446cb3 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #446cb3 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card.secondary {
    border-color: #adb2bd; }
.callout-card.secondary .card-label {
    border-color: transparent #adb2bd transparent transparent;
    border-color: rgba(255, 255, 255, 0) #adb2bd rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card.info {
    border-color: #89c4f4; }
.callout-card.info .card-label {
    border-color: transparent #89c4f4 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #89c4f4 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card.alert {
    border-color: #f22613; }
.callout-card.alert .card-label {
    border-color: transparent #f22613 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #f22613 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card.success {
    border-color: #87d37c; }
.callout-card.success .card-label {
    border-color: transparent #87d37c transparent transparent;
    border-color: rgba(255, 255, 255, 0) #87d37c rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card.warning {
    border-color: #f89406; }
.callout-card.warning .card-label {
    border-color: transparent #f89406 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #f89406 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card .card-label {
    border-style: solid;
    border-width: 0 70px 40px 0;
    float: right;
    height: 0px;
    width: 0px;
    transform: rotate(360deg); }
.callout-card .callout-card-content {
    padding: 0.5rem 1.5rem 0.875rem; }
.callout-card.radius {
    border-radius: 0.6rem; }
.callout-card .label-text {
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    position: relative;
    right: -40px;
    top: 2px;
    white-space: nowrap;
    transform: rotate(30deg);
}

/* Styling of material cards on user site */
html, body {
    background: #FAFAFA; }

.card {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #272727;
    border-radius: 2px; }
.card .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300; }
.card .content {
    padding: 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px; }
.card p {
    margin: 0; }
.card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem; }
.card a {
    color: #ffab40;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none; }
.card .image {
    position: relative; }
.card .image .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.3rem;
    color: #fff; }
.card .image img {
    border-radius: 2px 2px 0 0; }

.card .cardLink {
    color: #343838;
}

