/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/

ul.simple-pagination {
	list-style: none;
}

.simple-pagination {
	display: block;
	overflow: hidden;
	padding: 0 5px 5px 0;
	margin: 0;
}

.simple-pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.simple-pagination li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
span.ellipse.clickable {
	cursor: pointer;
	background-color: #1583cc;
	color: #fefefe;
}

.ellipse input {
	width: 3em;
}

/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/

.light-theme a, .light-theme span {
	border-radius: 2px;
	display: inline-block;
	text-align: center;
	line-height: 1;
	cursor: pointer;
	-webkit-appearance: none;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 0.85em 1em;
	margin: 0 0 1rem 0;
	font-size: 0.9rem;
	background-color: #2199e8;
	color: #fefefe;
}

[data-whatinput='mouse'] .light-theme a, .light-theme span {
	outline: 0;
}

.light-theme a:hover a:focus{
	background-color: #1583cc;
	color: #fefefe;
}

.light-theme span:hover {
	background-color: #1583cc;
	color: #fefefe;
}

.light-theme .current {
	opacity: 0.25;
	cursor: not-allowed;
}