<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"/>
    <title>About us</title>
</head>
<body>
<div th:replace="fragments/navbar :: about"></div>

<div class="container">

    <div class="row">

        <div class="col-sm-8">
            <h2><strong>Our goals:</strong></h2>
            <p>We are developing a social learning platform as a students project at the University of Hohenheim.</p>
            <p>Our aim is to make learning easier and more interesting for university students.</p>
            <div>
                <h3>
                    <strong>Who are we:</strong>
                </h3>
                <ul>
                    <li>Desislava Ivanova</li>
                    <li>Julien Vollweiter</li>
                    <li>Sabrina Semmelmann</li>
                    <li>Erhan ?</li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4">
            <img class="img-rounded" src="/static/images/hlogo.jpg" width="300" height="300"/>
        </div>
    </div>
    <div>

    </div>
</div>
</body>
</html>