<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"/>
    <title>About us</title>
</head>
<body style="background-color: #89e4f9">
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DESJ project</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="About">About us</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1 style="text-align: left;color: #041B24">
        <b>About us</b>

    </h1>
    <img src="/images/hlogo.jpg" style="alignment:right"/>
    <div>
        <h2>
            <strong>Our goals:</strong>
        </h2>
        <p>
            We are developing a social learning platform as a students project at the University of Hohenheim.
            Our aim is to make learning easier and more interesting for university students.
        </p>
        <div>
            <h3>
                <strong>Who are we:</strong>
            </h3>
            <ul>
                <li>Desislava Ivanova</li>
                <li>Julien Vollweiter</li>
                <li>Sabrina Semmelmann</li>
                <li>Erhan ?</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>