<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"/>
    <title>About us</title>
</head>
<body>
<div th:replace="fragments/navbar :: about"></div>

<div class="row">
    <div class="small-8 columns">
        <h2><big><strong>Our goals:</strong></big></h2>
        <p ><i><big>We are developing a social learning platform as a students project at the University of Hohenheim.
            Our aim is to make learning easier and more interesting for university students.</big></i></p>

        <div>
            <h3>
                <big><strong>Who are we: </strong></big>
            </h3>
            <ul>
                <li><i><big>Desislava Ivanova</big></i></li>

                <li><i><big>Julien Vollweiter</big></i></li>
                <li><i><big>Sabrina Semmelmann</big></i></li>
                <li><i><big>Erhan Geyik</big></i></li>
            </ul>
        </div>
    </div>





    <div class="small-4  columns " >
        <a href="https://www.uni-hohenheim.de" target="_blank">
            <img class="thumbnail " src="images/hlogo.jpg" width="350" height="350"/>
        </a>
    </div>
</div>
</body>
</html>