<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"/>
</head>
<body>
<div th:replace="fragments/navbar :: loggedIn"></div>

<div class="row">
    <div class="small-12 columns">
        <div th:if="${newlyCreatedLearningGroupId != null}">
            <div class="callout success">
                <h5>You have just created the new learning group <span th:text="${createdLearningGroup.name}"></span>!</h5>
                <p>You also became the first member of it. Yaay!</p>
                <a class="button" th:href="@{/showLearningGroup(id=${newlyCreatedLearningGroupId})}">
                    Checkout group
                </a>
            </div>
        </div>
        <h4>Fill in the form below to create a new learning group:</h4>
    </div>
</div>
<div class="row">
    <div class="small-12">
        <form th:action="@{/createNewGroup}" th:object="${learningGroup}" th:method="post">
            <div class="small-12 columns">
                <label>Group name</label>
                <input type="text" th:field="*{name}" th:placeholder="Name"/>
            </div>
            <div class="small-12 columns">
                <label>Subject</label>
                <input type="text" th:field="*{subject}" th:placeholder="Subject"/>
            </div>
            <div class="small-12 columns">
                <button type="submit" class="button">Create!</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>