<!DOCTYPE HTML>
<html style="background: url('images/schloss_hohenheim.jpg') no-repeat center center fixed; background-size: cover" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body style="background-color: transparent">

<div th:replace="fragments/navbar :: notLoggedIn"></div>

<br/>
<br/>

<div class="row" id="wrapper">

    <div class="row">
        <br/>
        <div class="small-12 small-centered columns">
            <h2 style="text-align: center; color: white"><span class="fa fa-users"></span></h2>
            <h2 style="text-align: center; color: white"><b>WElearn</b></h2>
            <h4 style="text-align: center; color: white; padding-top: 8px">Please Sign Up:</h4>
        </div>
    </div>

    <div class="row">
        <div class="small-9 small-centered columns">

            <form data-abide="" novalidate="novalidate" th:object="${user}" th:action="@{/newUser}" th:method="post">
                <div class="small-12 columns">
                    <br/>
                    <input required="required" style="border-radius: 2px" type="text" th:field="*{username}" th:placeholder=" Username"/>
                </div>
                <div style="padding-top: 13px" class="small-12 columns">
                    <input required="required" style="border-radius: 2px" type="email" th:field="*{email}" th:placeholder=" Email"/>
                    <span class="form-error">
                        Please provide a correct email adress
                    </span>
                </div>
                <div style="padding-top: 13px" class="small-12 columns">
                    <input style="border-radius: 2px" type="text" th:field="*{major}" th:placeholder=" Major"/>
                </div>
                <div style="padding-top: 13px" class="small-12 columns">
                    <input aria-describedby="passwordHelpText" style="border-radius: 2px" class="password" type="password" th:field="*{password}" th:placeholder=" Password"/>
                    <p class="help-text" style="color: lightgray" id="passwordHelpText">Your password must have at least 4 characters</p>
                </div>

                <div style="padding-top: 13px" class="small-12 columns">
                    <button type="submit" class="buttonComment"><i class="fa fa-check"></i> Submit</button>

                </div>
            </form>

        </div>
    </div>
    <br/>
</div>

<script src="js/app.js"></script>
<script>
    $(document).ready(function () {

        $(".buttonComment").attr("disabled", "true");

        $('.password').on("keyup", action);
        function action() {
            if ($('.password').val().length > 3) {
                $('.buttonComment').removeAttr("disabled");
            } else {
                $('.buttonComment').attr("disabled", "true");
            }
        }
    });
</script>


</body>
</html>