<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body style="background-image: url('images/schloss_hohenheim.jpg'); background-repeat: no-repeat; background-size: 100%;">

<div th:replace="fragments/navbar :: notLoggedIn"></div>

<br/>
<br/>
<br/>

<div class="row" id="wrapper">

    <div class="row">
        <br/>
        <div class="small-12 small-centered columns">
            <h2 style="text-align: center; color: white">WElearn project</h2>
            <p>

            <h3 style="text-align: center; color: white">Please Sign Up:</h3></p>
        </div>
    </div>

    <div class="row">
        <div class="small-9 small-centered columns">

            <form th:object="${user}" th:action="@{/newUser}" th:method="post">
                <div style="padding-top: 15px" class="small-12 columns">
                    <br/>
                    <input style="border-radius: 2px" type="text" th:field="*{username}" th:placeholder=" Username"/>
                    <div class="callout alert" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name
                        Error
                    </div>
                </div>
                <div style="padding-top: 15px" class="small-12 columns">
                    <input style="border-radius: 2px" type="email" th:field="*{email}" th:placeholder=" Email"/>
                </div>
                <div style="padding-top: 15px" class="small-12 columns">
                    <input style="border-radius: 2px" type="password" th:field="*{password}" th:placeholder=" Password"/>
                </div>

                <div style="padding-top: 15px" class="small-12 columns">
                    <button type="submit" class="button"><i class="fa fa-check"></i> Submit</button>

                </div>
            </form>

        </div>
    </div>
    <br/>
</div>

<script src="js/app.js"></script>

</body>
</html>