<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"/>
</head>
<body>
<div th:replace="fragments/navbar :: loggedIn"></div>
<div class="row">
    <div class="small-12 small-offset-3 column">
        <h2>
            Welcome to the Group <span th:text="${learningGroup.name}"></span>!
        </h2>
    </div>
</div>

<div class="row">
    <div class="small-3 column">
        <table>
            <thead>
            <tr><th><h4>Members:</h4></th></tr>

            </thead>
            <tbody th:each="member: ${learningGroupMembers}">
            <td >

                    <div th:text="${member.username}"></div>

            </td>
            </tbody>


        </table>
    </div>
</div>
</body>
</html>