<!DOCTYPE html>
<html style="background: url('images/schloss_hohenheim.jpg') no-repeat center center fixed; background-size: cover"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"/>
</head>
<body style="background-color: transparent">
<div th:replace="fragments/navbar :: loggedIn"></div>
<br/>
<div class="row" th:if="${error}">
    <div class="small-8 medium-centered columns wrapper70">
        <h3 style="color: white">Sorry this group contains no questions :(</h3>
        <h3 style="color: white">Challenge yourself and write the first one!!</h3>
        <br/>
        <a class="button" th:href="@{/showLearningGroup(id=${learningGroup.id})}"><span
                class="fa fa-chevron-left"></span> Go back</a>
    </div>
</div>

<div th:unless="${error}">
    <div class="row">

        <a class="button" th:href="@{/showLearningGroup(id=${question.correspondingLearningGroup.id})}">
            <span class="fa fa-chevron-left"></span> Go back</a>

    </div>
    <div class="row">
        <div class="small-8 small-centered columns" style="background-color: rgba(52, 56, 56, 0.8);
         border-radius: 3px; color: white">
            <span th:if="${creator.id}==${user}" style="color: darkgray;" class="float-right">Created by you</span>
            <span th:if="${creator.id}!=${user}" style="color: darkgray;" class="float-right"
                  th:text="${'Created by ' + creator.username}"></span>
            <br/>
            <h4 style="color: #1893e4">Question:</h4>
            <h5 th:text="${question.question}"></h5>
            <div style="padding-top: 20px">
                <button class="button expanded" data-toggle="answer">See answer</button>
            </div>

            <div id="answer" data-toggler="" data-animate="hinge-in-from-top hinge-out-from-top" style="display: none">
                <p/>
                <h4 style="color: #1893e4 ">Answer: </h4>
                <h5 th:text="${question.answer}">Answer</h5>

                <div style="padding-top: 20px;">
                    <button th:if="${allQuestionComments.size()}!=0" class="button" data-toggle="comments"> Comments
                        &nbsp;
                        <span class="fa fa-comments"></span>
                    </button>
                </div>

                <p th:if="${allQuestionComments.size()}==0" style="color: #f8f8f8">There aren't any comments yet. Be
                    the first, share your opinion!!!</p>

                <a th:if="${allQuestionComments.size()}==0" class="button" data-open="writeNewQuestionCommentModal">Write new comment
                    &nbsp;<span class="fa fa-pencil"></span>
                </a>

                <div id="comments" data-toggler="" data-animate="fade-in fade-out" style="display: none">

                    <div th:each="comment:${allQuestionComments}">
                        <div class="callout-card">
                            <div class="card-label">
                                <!-- First three chars of the username are displayed -->
                                <span data-tooltip="" aria-haspopup="true" class="top" data-disable-hover="false"
                                      tabindex="2" th:title="${comment.creator.username}">
                                    <div class="label-text">
                                        <span th:text="${comment.creator.username.substring(0, 3)}"></span>
                                    </div>
                                </span>
                            </div>
                            <div class="callout-card-content">
                                <p style="color: #0a0a0a" th:utext="${comment.comment}">Comment Text</p>
                            </div>
                        </div>
                    </div>
                    <a class="button" data-open="writeNewQuestionCommentModal">Write new
                        &nbsp;<span class="fa fa-pencil"></span>
                    </a>
                </div>
            </div>
            <br/>
        </div>


    </div>


    <!-- Write new question comment modal -->
    <div th:replace="fragments/writeNewQuestionCommentModal"></div>
</div>
<script src="js/app.js"></script>
</body>
</html>