<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"/>
</head>
<body style="background-color: #58D3F7">
<div th:replace="fragments/navbar :: loggedIn"></div>
<div class="container-fluid">
    <div class="row">
        <h1 class="col-sm-12" style="margin-bottom: 50px">
            Welcome to the Group <span th:text="${learningGroup.name}"></span>!
        </h1>
        <div class="col-sm-3">
            <h1>Group members:</h1>
            <div th:each="member : ${learningGroupMembers}">
                <div th:text="${member.username}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>