<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"/>
</head>
<body>
<div th:replace="fragments/navbar :: loggedIn"></div>

<br/>

<div class="row">
    <div class="small-3 columns end"  th:each="learningGroup : ${learningGroupsOfUser}">
        <div class="card">
            <div class="content">
                <a th:href="@{/showLearningGroup(id=${learningGroup.id})}" class="title"
                   style="color: #343838;">
                    <span th:text="${learningGroup.name}"></span>
                </a>
                <p>Subject: <span th:text="${learningGroup.subject}"></span></p>
                <p th:text="${learningGroup.description}"></p>
            </div>
            <div class="action">
                <a class="cardLink" th:href="@{/showLearningGroup(id=${learningGroup.id})}">Go to group <span class="fa fa-chevron-right"></span></a>
            </div>
        </div>
        <br/>
    </div>
</div>




<div th:unless="${numberOfGroups &gt; 0}">
    <div class="small-6 small-offset-2 columns" style="padding-top: 40px">
        <h4><p>Looks like you aren't a member of any group!</p>
            <p>You can find new learning groups here:</p></h4>
        <a href="/findGroup" class="button large">Find learning groups</a>
    </div>
</div>


<script src="js/app.js"></script>

</body>
</html>